{% extends "CoutureGestionBundle:Couture:index.html.twig" %}
{% block main %}

	<center><h4 class="panel-heading alert-success">Espace de gestion personnalisé - Mes modéles</h4></center>
    <hr class="colorgraph">
	<div class="row">
        <div class="col-md-8">
        	<center><h4 class="panel-heading alert-info">Liste des modeles</h4></center>
            <hr class="colorgraph">
            <div class="col-md-12" >
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordered table-striped table-hover">
                        <thead>
                            <th>Réference</th>
                            <th>Designation</th>
                            <th>Cout</th>
                            <th>Type</th>
                            <th>Durée confection</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for tag in modele %}
                                 <tr class="even">
                                    <td>{{ tag.reference}}</td>
                                    <td><span class= "xedit" id="{{ tag.reference }}"><span id="Modele"><span id="setDesignation">{{ tag.designation}}</span></span></span></td>
                                    <td><span class= "xedit" id="{{ tag.reference }}"><span id="Modele"><span id="setCout">{{ tag.cout}}</span></span></span></td>
                                    <td>{{ tag.typeModele}}</td>
                                    <td>{{ tag.dureeConfection}} jours</td>
                                    <td>
                                        <center>
                                            <a href="{{ path("couture_gestion_couture_afficher_modele", {'identifiant': tag.reference})}}"><button class="btn btn-info btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></a>
                                            <a href="{{ path("couture_gestion_couture_modifier_modele", {'identifiant': tag.reference})}}"><button class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-list"></span></button></a>
                                            <a href="{{ path("couture_gestion_couture_supprimer_modele", {'identifiant': tag.reference})}}" data-confirm="Vous êtes sur le point de supprimer ce modèle. Etes-vous sûr de bien vouloir effectué cette opération ?"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a>
                                        </center>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        	<center><h4 class="panel-heading alert-danger">Actions à effectuer</h4></center>
            <hr class="colorgraph">
            <ul class="list-group">
        		<li class="list-group-item">
            		<a href="{{ path("couture_gestion_couture_add_modele")}}"><button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-list"></span> Ajout Nouveau modele</button></a>
            	</li>
	        	<li class="list-group-item">
	        		<button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-edit"></span> Impression liste modèle</button>
	        	</li>
	        </ul>
        </div>
    </div>
{% endblock %}