{% extends "CoutureGestionBundle:Couture:index.html.twig" %}
{% block main %}
	 <div class="row">
        <div class="col-md-3">
        	<center><h4>Details commande</h4></center>
                <hr class="colorgraph">
            <ul class="list-group">
                <li class="list-group-item">Identifiant : {{ client.identifiant }}</li>
                <li class="list-group-item">Prenom : {{ client.prenom }}</li>
                <li class="list-group-item">Nom : {{ client.nom }}</li>
                <li class="list-group-item">Sexe : {{ client.sexe }}</li>
                <li class="list-group-item">Adresse : {{ client.adresse }}</li>
                <li class="list-group-item">Telephone : {{ client.telephone }}</li>
                <li class="list-group-item">Email : {{ client.email }}</li>
                <li class="list-group-item">Type Client : {{ client.typeClient }}</li>
            </ul>
        </div>
        <div class="col-md-6">
        	<center><h4>Détails modéles commandés</h4></center>
                <hr class="colorgraph">
        	<div class="table-responsive">
            <table class="table table-bordered table-striped table-hover ">
                <thead>
                    <th>Modèle</th>
                    <th>Prix Unitaire</th>
                    <th>Quantite</th>
                    <th>Prix Total</th>
                </thead>      
                <tbody>
                {% for tag in commandeProduit %}
                    <tr>
                    	<td>{{ tag.modele.designation }}</td>
                        <td>{{ tag.prixUnitaire }}</td>
                        <td>{{ tag.quantite }}</td>
                        <td>{{ tag.montantTotal }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover ">
                <thead>
                    <th>Net à payer</th>
                </thead>      
                <tbody>
                    <tr>
                        <td>{{ pt }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
    	<center><h4> Actions à effectuer</h4></center>
        <hr class="colorgraph">
        <ul class="list-group">
        	<li class="list-group-item">
        		<button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-list"></span> Avance</button>
        	</li>
        	<li class="list-group-item">
        		<button type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-edit"></span> Facturation</button>
        	</li>
        	
        	<li class="list-group-item">
        		<button type="button" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-stats"></span> liste Client</button>
        	</li>
            <li class="list-group-item">
                <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-stats"></span> Liste Commande</button>
            </li>
        </ul>
        <hr class="colorgraph">
     </div>
    </div>
{% endblock %}

